body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
  margin: 0;
  padding: 0;
}

#container {
  margin: 20px;
  background: #fefefe;
  background: -moz-linear-gradient(90deg, #eee, #fff); /* Firefox */
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee) ); /* Webkit */
  border: 1px solid #ccc;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-box-shadow: 0 0 15px #ccc;
  -webkit-box-shadow: 0 0 15px #ccc;
  padding: 20px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-size: 1.1em;
  font-weight: bold;
}

td.right {
  text-align: right;
}

fieldset,img {
  border: 0;
}

address,caption,cite,code,dfn,var {
  font-style: normal;
  font-weight: normal;
}

ol,ul {
  list-style: none;
}

caption,th {
  text-align: left;
}

h1,h2,h3,h4,h5,h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,q:after {
  content: '';
}

abbr,acronym {
  border: 0;
}

html {
  overflow: -moz-scrollbars-vertical;
}

body {
  background: #eee;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-shadow: 0 1px 0 #fff;
}

a {
  color: #333;
  text-decoration: underline;
}

form {
  background: #f7f7f7;
  background: -moz-linear-gradient(90deg, #ccc, #fff); /* Firefox */
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc) ); /* Webkit */
  border: 1px solid #aaa;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-box-shadow: 0 0 15px #aaa;
  -webkit-box-shadow: 0 0 15px #aaa;
  margin: 60px auto 0;
  padding: 20px;
}

h1 {
  border-bottom: 1px solid #ccc;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

form p {
  margin-bottom: 20px;
}

form p:last-child { /* Sélecteur avancé pour sélectionner le dernier paragraphe du formulaire */
  margin-bottom: 0;
}

label {
  cursor: pointer;
  display: block;
  float: left;
  font-size: 13px;
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 5px;
  width: 120px;
}

form span {
  line-height: 28px;
  margin-bottom: 5px;
}

form p:hover label {
  color: #0459b7;
}

input[type=text],input[type=password] {
  background: rgba(255, 255, 255, 0.9);
  background: -moz-linear-gradient(90deg, #fff, #eee); /* Firefox */
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff), color-stop(0.2, #fff) );
  /* Webkit */
  border: 1px solid #aaa;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-box-shadow: 0 0 3px #aaa;
  -webkit-box-shadow: 0 0 3px #aaa;
  padding: 5px;
}

input[type=text]:focus,input[type=password]:focus {
  border-color: #093c75;
  -moz-box-shadow: 0 0 3px #0459b7;
  -webkit-box-shadow: 0 0 3px #0459b7;
  outline: none; /* Pour enlever le contour jaune lorsque l'on sélectionne un input dans Chrome */
}

select {
  cursor: pointer;
  padding: 3px;
  -moz-box-shadow: 0 0 3px #aaa;
  -webkit-box-shadow: 0 0 3px #aaa;
}

select:active,select:focus {
  border: 1px solid #093c75;
  -moz-box-shadow: 0 0 3px #0459b7;
  -webkit-box-shadow: 0 0 3px #0459b7;
  outline: none;
}

input[type=submit],a.submit {
  background: #ddd;
  background: -moz-linear-gradient(90deg, #0459b7, #08adff); /* Firefox */
  background: -webkit-gradient(linear, left top, left bottom, from(#08adff), to(#0459b7) ); /* Webkit */
  border: 1px solid #093c75;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-box-shadow: 0 1px 0 #fff;
  -webkit-box-shadow: 0 1px 0 #fff;
  color: #fff;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin-left: 120px;
  padding: 5px 10px;
  text-decoration: none;
  text-shadow: 0 1px 1px #333;
  text-transform: uppercase;
}

input[type=submit]:hover,a.submit:hover {
  background: #eee;
  background: -moz-linear-gradient(90deg, #067cd3, #0bcdff);
  background: -webkit-gradient(linear, left top, left bottom, from(#0bcdff), to(#067cd3) );
  border-color: #093c75;
  text-decoration: none;
}

input[type=submit]:active,input[type=submit]:focus,a.submit:active,a.submit:focus {
  background: #ccc;
  background: -moz-linear-gradient(90deg, #0bcdff, #067cd3);
  background: -webkit-gradient(linear, left top, left bottom, from(#067cd3), to(#0bcdff) );
  border-color: #093c75;
  outline: none;
}

#options {
  margin-bottom: 20px;
}

#options p {
  display: none;
}

#options .show {
  display: block;
}

#options:target .show {
  display: none;
}

#options .hide {
  display: none;
}

#options:target .hide {
  display: block;
}

#options:target p {
  display: block;
}

#finish {
  background: rgba(65, 166, 42, 0.2);
  border: 2px solid #41a62a;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  display: none;
  padding: 5px 10px;
}

#finish:target {
  display: block;
}

#credits {
  font-size: 11px;
  margin-top: 20px;
  text-align: center;
}

a.header {
  text-decoration: none;
  font-weight: bold;
}

.clear {
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.header div {
  font-weight: bold;
}

.line {
  height: 35px;
  line-height: 35px;
}


/* ================ */
/* = The 1Kb Grid = */     /* 16 columns, 80 pixels each, with 10 pixel gutter */
/* ================ */

.grid_0_5 { width: 40px; }
.grid_1 { width:80px; }
.grid_2 { width:170px; }
.grid_3 { width:260px; }
.grid_4 { width:350px; }
.grid_5 { width:440px; }
.grid_6 { width:530px; }
.grid_7 { width:620px; }
.grid_8 { width:710px; }
.grid_9 { width:800px; }
.grid_10 { width:890px; }
.grid_11 { width:980px; }
.grid_12 { width:1070px; }
.grid_13 { width:1160px; }
.grid_14 { width:1250px; }
.grid_15 { width:1340px; }
.grid_16 { width:1430px; }

.column {
  margin: 0 5px;
  overflow: hidden;
  float: left;
  display: inline;
}
.row {
  overflow: hidden;
}

.row .row {
  margin: 0 -5px;
  width: auto;
  display: inline-block;
}